<!-- <p id="notice"><%#= notice %></p> -->
<div class="container">
  <%#= link_to '', destroy_user_session_path, method: :delete , class: "btn btn-primary glyphicon glyphicon-log-out", title: "Logout" %>
</div>
<br>
<div class="container well">
  <div>
    <%= form_tag infos_path, class: "well pull-right", style: "width:300px;", method: "get" do %>
      <%= text_field_tag :search, params[:search] %>
      <%= submit_tag "Search", class: "btn btn-default" %>
    <% end %>
  </div>
<h1 class="">System Configuration</h1>
<table class="table table-striped">
  <%= render :partial => 'head' %>
  <%= render :partial => "body" %>
</table>
<br>

  <div class = "well col-md-12">
    <%= link_to 'New Info', new_info_path, class: "btn btn-primary" %>
    <%= link_to 'Download CSV', download_csv_infos_path(format: 'csv'), class: "btn btn-primary" %>

    <%= form_tag import_infos_path, multipart: true, style: "display: inline-block !important;" do %>
      <%= file_field_tag :file, style: "display: inline-block !important;" %>
      <%= submit_tag "Upload CSV", class: " btn btn-primary" %>
    <% end %>
  </div>
  <%= will_paginate @infos, renderer: BootstrapPagination::Rails %>
  </div>
