<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @info.name %>
</p>

<p>
  <strong>Monitor:</strong>
  <%= @info.monitor %>
</p>

<p>
  <strong>Motherboard:</strong>
  <%= @info.motherboard %>
</p>

<p>
  <strong>Processor:</strong>
  <%= @info.processor %>
</p>

<p>
  <strong>Ram:</strong>
  <%= @info.ram %>
</p>

<p>
  <strong>Hdd:</strong>
  <%= @info.hdd %>
</p>

<p>
  <strong>Cabinet:</strong>
  <%= @info.cabinet %>
</p>

<p>
  <strong>Keyboard:</strong>
  <%= @info.keyboard %>
</p>

<p>
  <strong>Mouse:</strong>
  <%= @info.mouse %>
</p>

<p>
  <strong>Mousepad:</strong>
  <%= @info.mousepad %>
</p>

<p>
  <strong>Camera:</strong>
  <%= @info.camera %>
</p>

<p>
  <strong>Speaker:</strong>
  <%= @info.speaker %>
</p>

<%= link_to 'Edit', edit_info_path(@info) %> |
<%= link_to 'Back', infos_path %>
